*{
    margin: 0px;
    background-color: black;
    color: rgb(0, 0, 0);
}

#header {
 display: grid;
 width: 100vw;
 height: 60px;
 background-color: rgb(255, 255, 255);
 text-align: center;
 margin-top: 10px;
}

#cover_img {
    margin-top: 20px;
}